@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 100%;
    --foreground: 222.2, 84%, 4.9%;
    --primary: 221.2, 83.2%, 53.3%;
    --primary-foreground: 210, 40%, 98%;
    --secondary: 210, 40%, 96.1%;
    --secondary-foreground: 222.2, 47.4%, 11.2%;
  }
}

@layer base {
  body {
    @apply flex min-h-screen justify-center bg-background text-foreground;
  }
}
